.App {
  text-align: center;
}
.container{
  margin: 0;
  padding: 0;
  position: absolute;
  
}
.zoomlogo{
  position: absolute;
  margin-top: 0px;
  margin-left: 10px;
 color: blue ;
font-size: 4em;
height: 5%;
font-family: 'Lato','Helvetica','Arial';

}
.zoomlogo img {
  height: 60%;
  height: 95%;
}
.box{
  margin-top: 6% ;
  position: fixed;
  background-color:  #808080;
  height: 80%;
  width: 95%;
  margin-left: 2.5%;
  
}
.iner_box{
  position: relative;
  background-color: white;
  height: 80%;
  width:  60%;
  margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;
    max-width: 840px;
  text-align: center;
}
#loading {
  margin-top: 7%;
  font-size: 3em;
  color: #999;
  font-weight: 300
}
#manege{
  margin-top: 10%;
  font-family: 'Lato','Helvetica','Arial';
  font-weight: 300 ;

}
#links{
  margin-top: 7%;
  font-family: 'Lato','Helvetica','Arial';
  font-weight: 300 ;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


